# The SignalFlow websocket server URL from which to stream metrics
streamURL: wss://stream.signalfx.com/v2/signalflow

# (REQUIRED) The SignalFx org access token
accessToken:

image: quay.io/signalfx/k8s-metrics-adapter
imageTag: 0.2.0
imagePullPolicy: IfNotPresent
args:

